html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #001122;
    color: antiquewhite;
}

main {
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y proximity;
}

section {
    min-height: 100vh;
    scroll-snap-align: start;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}