.quickInfo {
    margin: 0 1rem 2rem 1rem;
    text-align: center;
}

.quickInfo h2 {
    margin-bottom: 1rem;
}

.waveSectionFooter {
    margin-top: 1rem;
}

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
    margin: 0 1rem 0 1rem;
}

.avatar {
    border-radius: 50%;
}

.background {
    height: 100%;
    width: 100%;
    background-repeat: repeat-y;
    background-position: center;
}

.spacer {
    aspect-ratio: 960/60;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.outro {
    text-align: center;
    height: 50vh;
}