.navbar {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbarContainer {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-image: url('/navbar-waves.svg');
    color: #001122;
    padding-top: 10px;
}